
@{
    ViewBag.Title = "Error";
}

<div class="error">Oops, an error occurred!</div>
<div class="error-small">If this issue persists, please contact the website administrator at felix90@ufl.edu</div>