
@{
    ViewBag.Title = "Error - Not Found";
}

<div class="error">Oops, the resource wasn't found!</div>
<div class="error-small">If this issue persists, please contact the website administrator at felix90@ufl.edu</div>