body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0px;
    font-family: 'Arvo', serif;
}

h2 {
    margin: 0px;
    font-family: 'Arvo', serif;
}

h3 {
    margin: 0px;
    font-family: 'Arvo', serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background-color: #DE4D26;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.btn-blue {
    color: #FFF;
    background-color: #005596;
    border-color: #005596;
}

    .btn-blue:hover {
        color: #FFF;
        background-color: #1166A7;
        border-color: #1166A7;
    }

.search-textbox {
    width: 280px !important;
}

.navbar-inverse .navbar-brand {
    color: #005596;
    font-family: 'Arvo', serif;
    font-size: 1.8em;
    font-weight: 900;
}

.jumbotron h1 {
    font-size: 3em;
}

.main-content {
    background-color: #eee;
    padding: 30px;
    border-radius: 6px;
}

.form-padding {
    padding-top: 10px;
}

.searchbox {
    background-color: #DE4D26;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.top-area {
    margin-top: 20px;
}

.top-box {
    border-radius: 5px;
    background-color: #005596;
    padding-top: 10px;
}

    .top-box h3 {
        padding-bottom: 10px;
        color: #FFF;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

.list-group-item {
    min-height: 30px;
}

.top-list {
}

.top-list-element {
    border: 1px #BBBBBB solid;
    padding: 2px;
}

    .top-list-element:nth-child(odd) {
        background-color: #EEEEEE;
    }

    .top-list-element:nth-child(even) {
        background-color: #DDDDDD;
    }