body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

@media(max-width: 991px) and (min-width: 768px) {
    body {
        padding-top: 90px !important;
    }
}

h1 {
    margin-top: 0px;
    font-family: 'Arvo', serif;
    font-size: 1.8em;
    margin-bottom: 10px;
}

h2 {
    margin: 0px;
    font-family: 'Arvo', serif;
    font-size: 1.6em;
}

h3 {
    margin: 0px;
    font-family: 'Arvo', serif;
    font-size: 1.4em;
}

h4 {
    margin: 0px;
    font-family: 'Arvo', serif;
    font-size: 1.2em;
}

h5 {
    margin: 0px;
    font-family: 'Arvo', serif;
    font-size: 1.1em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background-color: #DE4D26;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.btn-blue {
    color: #FFF;
    background-color: #005596;
    border-color: #005596;
}

    .btn-blue:hover {
        color: #FFF;
        background-color: #1166A7;
        border-color: #1166A7;
    }

.btn-orange {
    color: #FFF;
    background-color: #DE4D26;
    border-color: #DE4D26;
}

    .btn-orange:hover {
        color: #FFF;
        background-color: #EE6E48;
        border-color: #EE6E48;
    }

.btn-default {
    border: 2px solid #005596;
}

    .btn-default:hover {
        border: 2px solid #005596;
    }

@media(min-width: 1200px) {
    .search-textbox {
        min-width: 280px !important;
    }
}

@media(max-width: 991px) and (min-width: 768px) {
    .search-textbox {
        min-width: 580px !important;
    }
}

.navbar-inverse .navbar-brand {
    color: #005596;
    font-family: 'Arvo', serif;
    font-size: 1.8em;
    font-weight: 900;
}

.jumbotron h1 {
    font-size: 3em;
}

.main-content {
    background-color: #eee;
    padding: 30px;
    border-radius bottom left: 6px;
    border-radius bottom right: 6px;
}

.form-padding {
    padding-top: 10px;
}

.searchbox {
    background-color: #DE4D26;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.top-area {
    margin-top: 20px;
}

.top-box {
    background-color: #005596;
    padding-top: 15px;
    padding-bottom: 10px;
}

    .top-box h3 {
        color: #FFF;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

.top-list {
}

.top-list-element {
    padding: 2px;
}

    .top-list-element:nth-child(odd) {
        background-color: #EEEEEE;
    }

    .top-list-element:nth-child(even) {
        background-color: #DDDDDD;
    }

.list-group-item {
    min-height: 30px;
    border-radius: 0px;
    border: 0px;
}

.list-group-item {
    min-height: 30px;
    border-radius: 0px;
    border: 0px;
}

    .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid #000;
    }

.dataTable thead {
    background: #005596;
    color: #fff;
}

.ui-autocomplete {
    z-index: 2000;
}

.settings {
    font-size: 30px;
    color: #fff !important;
}

    .settings:hover {
        color: #ddd !important;
        display: inline-block;
        cursor: pointer;
    }

.navbar-form form {
    display: inline;
    margin-right: 20px;
}

.form-group-setting {
    width: 100%;
}

.dropdown-item {
    padding: 10px;
}

.btn-green {
    color: #FFF;
    background-color: #046A38;
    border-color: #046A38;
    margin-top: 10px;
}

    .btn-green:hover {
        color: #FFF;
        background-color: #057B49;
        border-color: #057B49;
    }

@media (min-width: 768px) {
    .dropdown-menu {
        margin-top: 18px;
        min-width: 300px;
        min-height: 150px;
        right: -30px !important;
    }
}

@media (max-width: 767px) {
    .dropdown-menu {
        clear: both;
        margin-top: 18px;
        width: 100%;
        min-height: 150px;
        left: 0;
        position: relative;
    }
}

.select-default {
}

.btn-landing {
    width: 100%;
    margin-bottom: 30px;
}

.second-row {
    margin-top: 20px;
}

.error {
    font-family: 'Arvo', serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 4.5em;
    font-weight: bold;
}
.error-small {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
}